body{
    margin:0px;
    padding:0px;
    background: 	#ffddf4;
}
header{
    width:100%;
    height:70px;
    background:#fd6a96;
	
}
main{
width:100%;
height:80%;
padding: 40px 0px;
background:	#ffd1dc;
}
footer
{
    width:100%;
    height:10%;

    background:#fe8ee0;
}
h1{
    margin:0px;
    padding:14px 0px 14px 14px;
    color:		#fff;
    float:left;
}
a
{
    text-decoration: none;
    color:#fff;
    padding-right:30px;
    float:right;
}
input{
margin-top:12px;
width:300px;
height:40px;
border:0px;
padding-left:12px;
}